body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
    background: #ffffff;
}
.page-header  {
    min-height: 450px;
    padding-top: 85px;
    color: #ffffff;
    background: 
                linear-gradient(rgba(0,0,0,0.5),
              rgba(0,0,0,0.5)), 
                url(../img/111.jpg) no-repeat center;
    background-size: cover;
}
.container {
    width: 1020px;
    margin: 0 auto;
    } 
.gri {
    display: grid;
    grid-template-columns: 140px auto;
    grid-template-rows: 60px;
    justify-content: space-evenly;
}
.header-logo {
    grid-column: 1 / 2;
    align-self: center;
}
.lin {
   padding: 20px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    justify-self: start;
}
.gri a:nth-child(1) {
    grid-column: 1 / 2;
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    padding-right: 20px;
 }   
.gri a:nth-child(2) {
    grid-column-start: 2 / 3;
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    padding-right: 20px;
    /* padding-left: 5px; */
} 
.gri a:nth-child(3) {
    grid-column-start: 3 / 4;
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    padding-right: 20px;
    /* padding-left: 5px; */
} 
.gri a:nth-child(4) {
    grid-column-start: 4 / 5;
    /* padding-left: 5px; */
} 
.gri a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}  
.gri a:hover {
    text-decoration: underline;
} 
.gri a:active {
    color:rgba(255, 255, 255, 0.3);
}  
.promo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 55px;
    line-height: 65px;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
 }
.features {
    background: #ffcb78;
    padding: 100px 0;
}
.features .container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}
.features-item {
    border-left: 1px solid rgba(131, 72, 0, 0.205);
    padding: 50px 30px 0 60px; 
}
.features-item:first-child {
    border-left: none;
}
.feature-title {
    font-size: 20px;
    line-height: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #020202;
    text-transform: uppercase;
}
.feature-hervir {
    background: url(../img/Layer\ 25.png) 130px 5px no-repeat;
    background-size: 15%;
}
.feature-mios {
    background: url(../img/Layer\ 26.png) 130px 2px no-repeat;
    background-size: 15%;
 }
.feature-complet {
    background: url(../img/Layer\ 27.png) 130px 5px no-repeat;
    background-size: 15%;
}
.section-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    margin-bottom: 70px;
    margin-right: 180px;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    color: #020202;
    text-transform: uppercase;
}
.beer-history {
    padding-top: 70px;
    padding-bottom: 70px;
}
.history {
    display: grid;
    grid-template-columns: 490px 230px;
    grid-template-rows: 20px 130px 20px 130px;
    justify-content: space-between;
    grid-gap: 20px;
    
}
.reference-title1 {
    font-size: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
}
.reference-title2 {
    font-size: 20px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: center;
}
.reference-source1 {
    color: #666666;
    font-size: 16px;
    font-style: italic;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
}
.reference-source2 {
    color: #666666;
    font-size: 16px;
    font-style: italic;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: end;
    align-self: center;
}
.history .p1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
   word-wrap: break-word;
    line-height: 29px;
    align-self: center;
}
.history .p2 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    word-wrap: break-word;
    line-height: 29px;
    align-self: center;
}
.history .ima {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: center;
}
.history .ima2 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: end;
    align-self: center;
}
.beer-history p {
    font-size: 16px;
}
.history a {
    font-style: italic;
    color: #a38b70;
}
.history a:hover {
    color: #8d745a;
}
.history a:active {
    color: rgba(141, 116, 90, 0.3);
}

.reviews {
    background: #ede5d8;
    padding-top: 90px;
    padding-bottom: 90px;
    
}
.reviews .container {
    position: relative;
}
.review-item {
    font-size: 18px;
}
.review-item p {
    padding: 0;
}
.review-item a {
    padding: 10px;
    /* border: 1px solid #666666; */
}
.review-author {
    position: absolute;
    right: 0;
    margin-right: 0px;
    margin-top: 11px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    float: right;
}
.fotos-price {
    padding: 100px 0;
}
.beer-and-price {
    width: 800px;
    margin: 0 auto;
    padding-left: 35px;
    background: #ffffff;
    font-size: 16px;
    display: grid;
    grid-template-columns: 100px 100px 50px 100px 100px 50px;
    grid-template-rows: 60px 360px 110px 110px auto;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    justify-content: space-between;
}
.beer-and-price .im1 {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    justify-self: start;
    
}
.beer-and-price .im2 {
    grid-column: 4 / 7;
    grid-row: 1 / 4;
    justify-self: start;
}
.beer-and-price .taba {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    z-index: 1;
    justify-self: start;
    font-weight: bold;
 }
.beer-and-price .taba2 {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
    z-index: 1;
    justify-self: start;
    font-weight: bold;
}
.beer-and-price .sostav {
    width: 200px;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    z-index: 1;
    justify-self: start;
    align-self: start;
    padding-top: 20px;
    border-top: 1px solid #d9d9d9;
}
.beer-and-price .sostav2 {
    width: 210px;
    grid-column: 5 / 7;
    grid-row: 2 / 3;
    z-index: 1;
    justify-self: start;
    border-top: 1px solid #d9d9d9;
    align-self: start;
    padding-top: 20px;
}
.beer-and-price .reklama {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}
.beer-and-price .reklama2 {
    grid-column: 4 / 7;
    grid-row: 4 / 5;
}
.beer-and-price .vaht {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    color: #020202;
    text-transform: uppercase;
}
.beer-and-price .roma {
    grid-column: 4 / 7;
    grid-row: 3 / 4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    color: #020202;
    text-transform: uppercase;
 }
.beer-and-price .pric1 {
     display: grid;
     grid-template-columns: 120px 80px 70px;
     grid-template-rows: auto;
     grid-column: 1 / 4;
     grid-row: 5 / 6;
     grid-column-gap: 30px;
     
}
.beer-and-price .pric2 {
    display: grid;
    grid-template-columns: 120px 80px 70px;
    grid-template-rows: auto;
    grid-column: 4 / 7;
    grid-row: 5 / 6;
    grid-column-gap: 30px;
}

.pric1 .btn:nth-child(1) {
    grid-column: 1 / 2;
    justify-self: start;
    align-self: start;
    padding: 5px;
}
.pric1 .btn:nth-child(2) {
    grid-column: 2 / 3;
    justify-self: start;
    align-self: start;
    padding-top: 10px;
}
.pric2 .btn:nth-child(1) {
    grid-column: 1 / 2;
    justify-self: start;
    align-self: start;
    padding: 5px;
}
.pric2 .btn:nth-child(2) {
    grid-column: 2 / 3;
    justify-self: start;
    align-self: start;
    padding-top: 10px;
}
.pric1 .cena {
    grid-column: 3 / 4;
    padding: 7px;
}
.pric2 .cena {
    grid-column: 3 / 4;
    padding: 7px;
}
 
.btn {
    display: inline-block;
    width: 130px;
    padding: 0px;
    margin: 0;
    font: inherit;
    vertical-align: middle;
    text-align: center;
    color: #834700;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
    border: 2px solid #834700;
    border-radius: 3px;
}
.btn:hover {
    color: #834700;
    border-color: #834700;
}

.btn:active {
    color: rgba(235, 182, 126, 0.3);
    border-color: #8d745a;
}
.btn-read {
    display: inline-block;
    width: 150px;
    padding: 0px;
    margin: 0;
    font: inherit;
    vertical-align: middle;
    text-align: center;
    color: #a7a098;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
    border: 2px solid #a7a098;
    border-radius: 3px;
}
.btn-read:hover {
    color: #a7a098;
    border-color: #a7a098;
}

.btn-read:active {
    color: rgba(166, 159, 151, 0.3);
    border-color: #a7a098;
}
.btn-buy {
    display: inline-block;
    width: 100px;
    padding-top: 5px;
    font: inherit;
    vertical-align: middle;
    text-align: center;
    background: #834700;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
    border: 2px solid #834700;
    border-radius: 3px;
}
.btn-buy:hover {
    color: #ffffff;
    border-color: #834700;
}

.btn-buy:active {
    color: rgba(235, 182, 126, 0.3);
    border-color: #834700;
}
.assortiment {
    padding: 100px 0;
}
.price-list {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 50px;
    padding-top: 100px;
}

.price-list tr {
    border-bottom: 1px solid  #d9d9d9;
}
.price-list th,
.price-list td {  
    padding: 5px 0px;
}   
.price-name {
    color: #000000;
    font-weight: bold;
    text-align: start;
}
.price-numb {
    text-align: end;
}
sup {
    font-size: 10px;
    vertical-align: 5px;
    background: #000000;
    color: #ffffff;
    border-radius: 2px;
    padding: 2px;
    margin-left: 25px;
    margin-right: -25px;
}
.price-list th {
    font-size: 14px;
    color: #9a9a9a;
    padding-bottom: 35px;
}
.feedback {
    background: #ffcb78;
    padding: 100px 0;
}
.feedback-form{
    min-height: 750px;
    position: relative;
    }
.feedback-tip {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #585858;
}
.feedback-form-group {
    padding: 10px 0;
}
.feedback .section-title{
    margin-bottom: 100px;
    }
.feedback-form-group label {
    min-width: 200px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 46px;
}
.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
    font: inherit;
    color: inherit;
    border: 2px solid #e6b66c;
    height: 50px;
    background: #e6b66c;
    padding-left: 15px;
}
.feedback-form input[type="text"]:hover,
.feedback-form select:hover,
.feedback-form textarea:hover { 
    border-color:#b1884b;
}
.feedback-form input[type="text"]:active,
.feedback-form select:active,
.feedback-form textarea:active { 
    border-color: #b68f55;
    outline: none;
}
.column {
    width: 700px;
    text-transform: uppercase;
    float: right;
}
.column1 { 
    margin-top: 70px;
}
.column1 select {
    width: 720px; 
    float: right;
}
.column-min {
    float: left;
}
.column-min input {
    width: 200px; 
    margin-left: 115px;
}
.column-min1 {
    float: right;
}
.column-min1 input {
    width: 200px; 
    margin-left: 75px;
}
.checkbox-area{
    float: right;
    margin-top: 50px;
    margin-right: 367px;
    font-size: 14px;
    text-transform: uppercase;
}
.checkbox-area input {
    width: 25px; 
    height: 25px; 
}
.feedback .btn{
    float: right;
    margin-top:40px;
    margin-right: 450px;
    background-color: #834700;
    color: #ffffff;
    border-color:#834700;
}
.feedback-form .btn {
    display: inline-block;
    width: 200px;
    padding: 10px;
    font: inherit;
    vertical-align: middle;
    text-align: center;
    background: #834700;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
    border: 2px solid #834700;
    border-radius: 3px;
}
.page-footer {
    background: #000000;
    color: #ffffff;
    padding: 100px 0;
}
.footer-top {
    padding-bottom: 60px;
}
.footer-bottom {
    display: grid;
    grid-template-columns: 31% 40% 39%;
    grid-template-rows: 30px;
    align-items: center;
}
.footer-bottom p {
    font-family: Georgia, Times, serif;
    font-size: 16px;
    color: #8d8d8d;
    justify-self: start;
}
.footer-top .footer-logo {
    justify-self: center;
}
.footer-social a {
    color: #ffffff;
    text-decoration: none;
}
.footer-social a:hover {
    color: #ffffff;
}
.footer-social a:active {
    color: #ffffff;
    
}
.footer-copyright {
    color: #8d8d8d;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
}

.footer-copyright a {
    color: #8d8d8d;
    text-decoration: none;
}
.footer-copyright a:hover {
    color: #7e7b7b;
    text-decoration: underline;
}
.footer-copyright a:active {
    color: #8d8d8dc0;
}
.footer-social {
     font-size: 0; 
     justify-self: center;
}
.social-btn {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background: url(../img/Bez-imeni-9.png) no-repeat;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
}
.btn-vk {
    background-position: -8px -15px;
    background-size: 355%;
}

.btn-fb {
   background-position: -76px center;
   background-size: 355%;
}

.btn-tw {
   background-position: -142px center;
   background-size: 355%;
}
