body * {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #f2f2f2;
    font-weight: 500;
    font-family: 'PT Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
}
img {
    max-width: 100%;
    height: auto;
}
.button {
    display: inline-block;
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    font-size: 21px;
    line-height: 26px;
    padding: 17px 0px 15px 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.logos {
    height: 432px;
    text-align: center;
    background: url("../img/krilya.png") 0 bottom no-repeat;
}
.main-navigation {
    display: flex;
    justify-content: center;
    height: 56px;
    background-color: #fff;
}
.main-header-logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 138px;
}
.site-navigation {
    width: 1056px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
.logos {
    padding-top: 76px;
}
.greeting li {
    margin-bottom: 47px;
}
.options {
    padding-top: 60px;
    background-color: #fff;
}
.options h3 {
    font-size: 21px;
    width: 158px;
    text-align: center;
    margin-top: 46px;
    margin-bottom: 25px;
}
.option-title {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 28px;
}
.option-text {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.option-list {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
}
.option-item {
    width: 400px;
    height: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
}
.option-item p {
    text-align: center;
    width: 310px;
    margin-bottom: 22px;
}
.option-list .option-item:first-child {
    margin-right: 800px;
    background-color: #81b3d2;
    color: #fff;
}
.option-list-special {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}
.option-item-special {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 115px 0 81px 0;
    background: url("../img/icon-3.svg") center 56px no-repeat;
}
.option-item-special:first-child {
    background: url("../img/icon-1.svg") center 56px no-repeat;
}
.option-item-special:last-child {
    background: url("../img/icon-2.svg") center 56px no-repeat;
}
.option-item-special p {
    width: 290px;
    text-align: center;
}
.option-list .option-item:nth-child(3) {
    margin-left: 800px;
    background-color: #81b3d2;
    color: #fff;
}
.interes {
    background-color: #fff;
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
}
.interes h2 {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 25px;
}
.interes p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 45px;
}
.button-search {
    font-size: 21px;
    line-height: 26px;
    padding: 32px 0 31px 0;
    font-weight: bold;
    color: #fff;
    width: 568px;
    height: 23px;
    background-color: #766357;
    vertical-align: middle;
}
.main-footer {
    background: #fff url(../img/map.jpg) 0 0 no-repeat;
    height: 593px;
    display: flex;
}
.footer-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, .9);
    padding: 36px 0;
    align-self: flex-end;
    width: 1200px;
    /* padding-left: 30px; */
}
.footer-social p:first-child {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
}
.footer-social p:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}
.footer-social ul {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 48px;
}
.social-button {
    display: flex;
    flex-wrap: wrap;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    align-items: center;
    justify-content: center;
}
.footer-copyright a {
    height: 40px;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}