body * {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #f2f2f2;
    font-weight: 500;
    font-family: 'PT Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
}
img {
    max-width: 100%;
    height: auto;
}
.main-header {
    width: 100%;
    background-color: #fff;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.logos {
    background: #fff url(../img/background-photo.jpg) center center no-repeat;
    height: 773px;
    width: 1200px;
    text-align: center;
}
.main-navigation {
    display: flex;
}
.site-navigation {
    display: flex;
    flex-direction: space-between;
    align-items: center;
    width: 1200px;
}








.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}