body * {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
li  {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
}
img {
    max-width: 100%;
}
main {
    flex-grow: 1;
}
.page-wrapper {
    min-width: 900px;
    background-color: #849d8f;
    background-repeat: no-repeat;
    background-position: center 84px, center;
}
.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.container {
    width: 1146px;
    margin: 0 auto;
}
.button {
    display: inline-block;
    padding: 15px 0px 13px 0;
    font: inherit;
    text-align: center;
    color: white;
    vertical-align: middle;
    background: linear-gradient(to bottom, #ff4f4f 1%,#ff3030 28%,#e51300 100%);
    border-radius: 50px;
    width: 240px;
    font-size: 16px;
    line-height: 18px;
}
.button:hover,
.button:focus {
    background: linear-gradient(to bottom, #ff4f4f 1%,#ff3030 100%,#e51300 100%);
}
.slider {
    position: relative;
}
body > input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.slider-item {
    display: flex;
    position: absolute;
    bottom: 35px;
    left: 230px;
    overflow: hidden;
    color: white;
}
.page-wrapper .slider-item {
    display: none;
}
#btn-2:checked ~ .page-wrapper .slider-item:nth-child(2),
#btn-1:checked ~ .page-wrapper .slider-item:nth-child(1),
#btn-3:checked ~ .page-wrapper .slider-item:nth-child(3) {
    display: block;
}
#btn-1:checked ~ .page-wrapper {
    background: #849d8f url(../img/ice1.png) center 0px no-repeat;
}
#btn-2:checked ~ .page-wrapper {
    background: #8996a6 url(../img/ice2.png) center 0px no-repeat;
}
#btn-3:checked ~ .page-wrapper {
    background: #9d8b84 url(../img/ice3.png) center 0px no-repeat;
}
.slider-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    text-align: center;
}
.slider-info h2 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 33px;
}
.give_both {
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 11px 0px 10px 0;
    text-shadow: 0px 2px 10px rgba(49, 20, 20, 0.603);
    box-shadow: 0 2px 2px 0 rgba(119, 12, 12, 0.541);
}
.give_both:active {
    position: relative;
    background: linear-gradient(to bottom, #ff0c0c 0%,#ff5151 100%);
    /* box-shadow: 0 3px 0px 0 rgba(119, 12, 12, 0.541) inset; */
    box-shadow: none;
    top: 2px;
}
.slides-controls {
    position: absolute;
    bottom: 65px;
    left: 0px;
    width: 90px;
    height: 20px;
    display: flex;
    justify-content: start;
}
.slide-radio {
    width: 17px;
    height: 17px;
    margin-right: 9px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 1px rgba(0, 0, 0 ,0.2);
    cursor: pointer;
}
#btn-1:checked ~ .page-wrapper label[for="btn-1"],
#btn-2:checked ~ .page-wrapper label[for="btn-2"],
#btn-3:checked ~ .page-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}
/* ------------------------------- */
.main-navigation .main-header-logo {
    display: flex;
}
.main-header {
    margin-bottom: 565px;
    width: 100%;
}
.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
/* ----------------------------- */
.site-navigation {
    display: flex;
    align-items: center;
    width: 690px;
    font-size: 16px;
    line-height: 18px;
}
.site-navigation a {
    display: block;
    padding: 7px;
    transition: background .3s ease;
}
.catalog-item > a {
    font-weight: bold;
    border-radius: 50px;
    background: transparent;
    color: #fff;
}
.site-navigation .catalog-list a {
    background: #f8f7f4;
    color: #000;
}
.site-navigation .catalog-item > a:hover,
.site-navigation .catalog-item > a:focus {
    background: #f8f7f4;
    border-radius: 50px;
    color: #000;

}
.site-navigation .catalog-item,
.site-navigation .catalog-item {
    border-radius: 50px;
}
.site-navigation .catalog-item:hover a,
.site-navigation .catalog-item:focus a {
    background: #f8f7f4;
    color: #000;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.455);
}
.site-navigation .catalog-list a:hover,
.site-navigation .catalog-list a:focus {
    background: #fbded7;
}
.catalog-item {
    position: relative;
    margin-right: 20px;
}
.catalog-item:hover .catalog-list {
    opacity: 1;
    top: 32px;
    transition: opacity .3s ease;
}
.catalog-list {
    position: absolute;
    opacity: 0;
    top: -9999em;
    border-top: 5px solid transparent;
    min-width: 110px;
    box-shadow: 0 15px 20px -1px rgba(0, 0, 0, 0.455);
}
.catalog-list .catalog-list-news a {
    font-weight: bold;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #d1d0ce;
}
.catalog-list li:last-child a {
    border-radius: 0px 0px 4px 4px;
}
.catalog-item::after {
    content: "";
    border-bottom: 1px solid #ffffff73;
    bottom: 7px;
    left: 7px;
    right: 7px;
    position: absolute;
}
.catalog-item:hover::after {
    border: none;
}
.catalog-item .catalog-list li:active a {
    background: #f6b5a5;
}
.site-navigation .catalog-item:active > a {
    box-shadow: none;
    margin-top: 1px;
    padding-bottom: 6px;
}

/* ----------------------------------- */
.user-navigation {
    display: flex;
    align-items: center;
    width: 267px;
    height: 82px;
    font-size: 14px;
    line-height: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.user-navigation a {
    color: white;
    display: flex;
    /* height: 20px; */
    /* min-width: 20px; */
    justify-content: space-around;
    padding: 6px 10px 6px 10px;
    border-radius: 50px;
    align-items: center;
}
.user-navigation .search a {
    padding: 8px;
}
.user-navigation li {
    margin-top: 24px;
}
.user-navigation .search {
    /* width: 34px; */
    height: 33px;
    border-radius: 50%;
    background: #a0b5a9;
}
.user-navigation .sing_in {
    width: 92px;
    border-radius: 50px;
    background: #a0b5a9;
}
.user-navigation .trash {
    width: 117px;
    border-radius: 50px;
    background: #a0b5a9;
}
.user-navigation li:nth-child(2) a:hover,
.user-navigation li:nth-child(1) a:hover,
.user-navigation li:nth-child(3) a:hover,
.user-navigation li:nth-child(2) a:focus,
.user-navigation li:nth-child(1) a:focus,
.user-navigation li:nth-child(3) a:focus {
    background: #ffffffd2;
    color: #000000;
}

.user-navigation li a:hover path,
.user-navigation li a:hover circle,
.user-navigation li a:focus path,
.user-navigation li a:focus circle {
    fill: #000000;
} 




.user-navigation .schedule {
    width: 267px;
    text-align: end;
    justify-content: center;
    margin-right: 0;
    font-weight: 500;
    margin-top: 20px;
}
.schedule .telephone {
    font-size: 24px;
    line-height: 26px;
    margin-top: 5px;   
}
/* -------------------------------- */
.offers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1146px;
    margin-bottom: 40px;
}
.offertas {
    width: 524px;
    height: 200px;
    color: white;
    padding: 15px 18px;
}
.offertas h3 {
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 15px;
}
.offertas p {
    font-weight: 600;
    font-size: 18px;
}
.offertas {
    background: url(../img/malinPhone.png) 0px 0px no-repeat;
}
.offertas:last-child {
    background:  url(../img/chokoladPhone.png) 0 0 no-repeat;
}
.offertas .butt {
    margin-left: 354px;
    font-weight: bold;
    margin-top: 35px;
}
.button-want {
    text-align: center;
    width: 170px;
    box-shadow: 0 2px 2px 0 rgba(156, 10, 10, 0.829);
    text-shadow: 0px 2px 10px rgba(49, 20, 20, 0.603);
}
.button-want:active {
    background: linear-gradient(to bottom, #ff0c0c 0%,#ff5151 100%);
    box-shadow: none;
    position: relative;
    top: 2px;
}
/* ------------------------------------- */
.hits {
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 1146px;
    margin-bottom: 35px;
}
.hits a {
    color: #fff;
    border-bottom: 1px solid #ffffff3d;
}
.hits a:hover,
.hits a:focus {
    color: #ffb9ae;
    border-bottom: 1px solid #ffa7993d;
}
.hits a:active {
    color: #ffb9ae;
    border-bottom: 1px solid #ffa7993d;
}
.orange {
    background: url(../img/iceOrange.png) 0 0 no-repeat;
}
.coffe {
    background: url(../img/iceChocolate.png) 0 0 no-repeat;
}
.strawberry {
    background: url(../img/iceStrawberry.png) 0 0 no-repeat;
}
.brulee {
    background: url(../img/iceCaramell.png) 0 0 no-repeat;
    
}
.hits ul {
    height: 325px;
    width: 267px;
    position: relative;
}
.hits ul::before {
    content: " ";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff url(../img/hit.svg) 0 0 no-repeat;
    left: 0;
    top: 0;
}
.price-hits {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgb(119, 119, 119);
    margin-bottom: 25px;
    margin-top: 210px;
}
.hits span {
    font-size: 30px;
    line-height: 45px;
    
}
.text-hits {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}
/* --------------------------------------- */
.features {
    background: url(../img/wafer.jpg) 0 0 no-repeat;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 40px;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feature-item {
    width: 485px;
    padding-left: 55px;
    margin-bottom: 15px;
    padding-top: 15px;
}
.features-title {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
}
.feature-item:nth-last-child(-n+2) {
    margin-bottom: 0;
}
.feature-item:first-child {
    background: url(../img/ice-cream.svg) 0 0px no-repeat;
}
.feature-item:nth-child(2) {
    background: url(../img/cow.svg) 0 0px no-repeat;
}
.feature-item {
    background: url(../img/eco.svg) 0 0px no-repeat;
}
.feature-item:last-child {
    background: url(../img/thermometer.svg) 0 0px no-repeat;
}
/* --------------------------------------- */
.news {
    width: 520px;
    height: 180px;
    padding: 20px;
    background: url(../img/strawberryPhone.png) 0 0 no-repeat;
}
.news h3 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
}
.news p {
    width: 300px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}
.news a {
    text-decoration: underline;
}
.news a:hover,
.news a:focus {
    color: #e73827;
}
.news a:active {
    color: #e73827;
}
/* ----------------------------- */
.subscribe {
    width: 550px;
    height: 210px;
    padding: 5px;
    background: url(../img/postPhone.png) 0 0 no-repeat;
}
.subby {
    background: #f8f7f4;
    border-radius: 15px;
    padding: 20px;
}
.subby p {
    margin-bottom: 37px;
}
.subby form {
    margin-bottom: 12px;
}
.subby input {
    width: 338px;
    padding: 10px 15px 12px 15px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    font-size: 16px;
    line-height: 24px;
    margin-right: 8px;
}
.subby button {
    width: 128px;
    border: none;
    font-weight: bold;
    box-shadow: 0 2px 2px 0 rgba(119, 12, 12, 0.541);
    text-shadow: 0px 2px 10px rgba(49, 20, 20, 0.603);
    outline: none;
}
.subby button:active {
    background: linear-gradient(to bottom, #ff0c0c 0%,#ff5151 100%);
    box-shadow: none;
    position: relative;
    top: 2px;
}
.index-columns {
    display: flex;
    justify-content: space-between;
}
.map {
    width: 100%;
    margin: 40px auto;
    min-height: 430px;
    position: relative;
    bottom: 0;
}
.map img {
    display: block;
	position: absolute;
	/* z-index: -1; */
    top: 0;
    right: 0;
    left: 0;
    width: 1440px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
}
.map iframe {
	border: 0;
	width: 100%;
}
.contact-info {
    display: flex;
    flex-direction: column;
    padding: 30px 26px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 250px;
    position: absolute;
    top: 54px;
    right: 20px;
    line-height: 18px;
    z-index: 10;
    font-size: 14px;
    line-height: 20px;
}
.contact-info p {
    margin-bottom: 5px;
}
.contact-button {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    width: 250px;
    box-shadow: 0 2px 2px 0 rgba(119, 12, 12, 0.541);
    text-shadow: 0px 2px 10px rgba(49, 20, 20, 0.603);
    margin-top: 15px;
    outline: none;
}
.contact-button:active {
    background: linear-gradient(to bottom, #ff0c0c 0%,#ff5151 100%);
    box-shadow: none;
    position: relative;
    top: 2px;
}
.address,
.tel-info {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    
}
.contact-info .address {
    margin-bottom: 15px;
}
iframe {
    width: 100%;
}
  /* --------------------------------- */
.main-footer {
    margin-bottom: 30px;
}
.main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.footer-social ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 186px;
    margin: 0 auto;
    padding: 0;
}
.footer-social a path {
    fill: #ffffffcc;
}
.footer-social a:hover path,
.footer-social a:focus path {
    fill: #ffffff;
}
.footer-social a:active path {
    fill: #ffffff86;
}
.social-button {
    display: flex;
    border: 3px solid #ffffff7e;
    border-radius: 50%;
}
.main-footer a {
    color: #fff;
}
.footer-nav {
    width: 300px;
    font-size: 13px;
    line-height: 18px;
}
.footer-nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.footer-nav li {
    width: 150px;
    margin-bottom: 5px;
}
.footer-nav a {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ffffff3d;
}
.footer-nav a:hover,
.footer-nav a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
    color: #ffb9ae;
    border-bottom: 1px solid #ffa7993d;
}
.footer-nav a:active,
.footer-copyright a:active {
    color: #ffb9ae;
    border-bottom: 1px solid #ffa7993d;
}
.footer-nav li:nth-last-child(-n+2) {
    margin-bottom: 0px;
}
.footer-copyright {
    width: 190px;
    font-size: 12px;
    line-height: 18px;
}
.footer-copyright a path {
    fill: #ffffff;
}
.footer-copyright a:hover path,
.footer-copyright a:focus path {
    fill: #ffb9ae;
}
.footer-copyright a:active path {
    fill: #ffb9ae;
}
.footer-link {
    border-bottom: 1px solid #ffffff3d;
}












.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}