body * {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: black;
    background: #849d8f;
}
li  {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
}
img {
    max-width: 100%;
}
.container {
    width: 1146px;
    margin: 0 auto;
}













.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}